*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-all_users{
    max-width: 1400px;
    margin: auto;
    background: #9bc995;/*#090909*/
    height: 100vh;
    padding: 50px 100px;
}

.contenedor-all_users h2{
    color: #eef36a;
    font-size: 90px;
    text-align: center;

    letter-spacing: 4px;
    text-transform: uppercase;
}

.contenedor-all_users h4{
    margin: auto;
    width: max-content;
    color: #3f3047;
    font-size: 30px;
}
.contenedor-all_users progress{
    display: block;
    margin: 0 auto;
}

.contenedor-users{
    display: flex;
    margin: 70px auto;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
}

.user{
    display: flex;
    position: relative;
    margin: 0 90px;

}

.user p{
    min-height: fit-content;
    position: absolute;
    font-size: 25px;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #3f3047;
    background-color: #ddd;
    border-radius: 5px;
}

.user img{
    height: 150px;
    width: 150px;
    border-radius: 68% 32% 73% 27% / 40% 66% 34% 60% ;
    background-image: linear-gradient(45deg, #5171a5 0%, #98b9ab 100%);
}

.user img:active{
    transform: scale(0.9);
    transition: all ease 300ms;
}


/* From uiverse.io by @alexmaracinaru */
.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
  }
  
  .cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

/* --------------------------------------------------------------------------------------------*/

.btn-return{
    display: flex;
    text-decoration: none;    
    flex-direction: row-reverse;
}